<!DOCTYPE html>
<html lang="pl"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{layout}" >
<head>
    <title>Gatunki filmowe - MovieClub</title>
</head>
<body>
<main class="main-content" layout:fragment="content">
    <p class="notification-bar" th:if="${notification}" th:text="${notification}">
        Belka z powiadomieniami
    </p>
    <h2 class="list-heading">Panel administracyjny</h2>
    <ul class="list-border">
        <li><a href="#" th:href="@{/admin/dodaj-film}">Dodaj film</a></li>
        <li><a href="#" th:href="@{/admin/dodaj-gatunek}">Dodaj gatunek</a></li>
    </ul>
</main>

</body>
</html>